#BEGIN HTTPS REDIRECT
RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.YOURDOMAIN\.com$ [NC]
RewriteRule ^(.*)$ https://www.YOURDOMAIN.com/$1 [R=301,L]
#END HTTPS REDIRECT

#BEGIN SEO REDIRECT
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d [NC]
RewriteCond %{REQUEST_FILENAME} !-f [NC]

RewriteRule ^category/(.*)$ index.php?page=category&id=$1 [L]
RewriteRule ^tag/(.*)$ index.php?page=tag&id=$1 [L]
RewriteRule ^archive/(.*)-(.*)$ index.php?page=archive&month=$1&year=$2 [L]
RewriteRule ^action/(.*)$ index.php?page=action&id=$1 [L]
RewriteRule ^info/(.*)$ index.php?page=info&id=$1 [L]
RewriteRule ^post/(.*)$ index.php?page=post&id=$1 [QSA,L]
RewriteRule ^feed/ index.php?page=feed [L]
#END SEO REDIRECT

#BEGIN ERROR REDIRECTS
ErrorDocument 404 https://www.YOURDOMAIN.com/404.html
ErrorDocument 500 https://www.YOURDOMAIN.com/500.html
#END ERROR REDIRECTS

#BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
#END EXPIRES

#BEGIN DEFLATE
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilter DEFLATE .shtml
</IfModule>
#END DEFLATE