/*
    RB-Engine DARK theme
*/

/* START - ROOT Content */
:root {
    --rb-font-primary: Helvetica, Arial, sans-serif; /* Website Font Used Everywhere */
    --rb-font-primary-size: 16px; /* Font Size Used For REM Scaling: 1 REM = 16px */

    --rb-color-background: #121212; /* Website Background Color */
    --rb-color-background-text: #D5D5D5; /* Website Text Color On Background Color */

    --rb-color-card: #242424; /* Background Color For Cards */
    --rb-color-card-text: #D5D5D5; /* Text Color For Cards */

    --rb-color-elements: #3B3B3B; /* Background Color For Buttons, Tags, Etc. */
    --rb-color-elements-text: #D5D5D5; /* Text Color For Buttons, Tags, Etc. */

    --rb-color-footer: #000000; /* Background Color For Footer */
    --rb-color-footer-text: #D5D5D5; /* Text Color For Footer */

    --rb-color-error: #303030; /* Background Color For Error Messages */
    --rb-color-error-text: #C90000; /* Text And Border Color For Error Messages */
    
    --rb-color-success: #F0FDEB; /* Background Color For Success Messages */
    --rb-color-success-text: #009900; /* Text And Border Color For Success Messages */
    
    --rb-color-disabled: #DDDDDD; /* Color Used For Disabled Links */
    
    --rb-color-admin-red: #EF1F2F; /* Color Used For Links In Admin Menu */
    
    --rb-color-table-header: #E5E5E5; /* Background Color For Table Header */
    --rb-color-table-header-text: #000000; /* Text Color For Table Header */
    --rb-color-table-header-border: #BBBBBB; /* Border Color For Table Header */
}